:root {
    --fb-color-prim: #670099;
    --fb-color-sec: #fff79a;
}

* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body {
    background-color: var(--fb-color-sec);
}

.login {
    width: 250px;
    height: 300px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: whitesmoke;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0, 0,.2);
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav_left i{
    width: 22px;
    margin-right: 25px;}

.nav_middle img {
    width: 200px;
}

.nav_right a i{
    width: 35px;
border-radius: 50%;
margin-right: 0;
}

.login-form form input {
    display: block;
    margin: auto;
}

.login .err{
    text-align: center;
    color: red;
}

.stud_details th {
    text-align: left;
}

.stud_details td {
    text-align: left;
}

.stud_details .colen {
    text-align: center;
}

/* Admin dashboard */

.side-bar{
    background: #ffffff;
    width: 130px;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.side-bar a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex: wrap;
}



/* Admin Section */

.admin-section{
margin-left: 160px;
}

