<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="10"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/18074293e7.js" crossorigin="anonymous"></script>
    {% block title%}
    
    {% endblock title%}
</head>
<body>

    <!-- Head -->
    <nav class="flex-div">
        <div class="nav_left flex-div">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="nav_middle flex-div">
                <img src="../static/fabevy-logo-landscape.png">
        </div>
        <div class="nav_right flex-div">
            <a href=""><i class="fa-solid fa-user"></i></a>
        </div>
    </nav>

    <!-- Side bar -->
<div class="side-bar">
    <a href="{{url_for('batches')}}"><i class="fa-solid fa-screen-users"></i><p>Batches</p></a>
    <a href="students"><p>Students</p></a>
    <a href="#"><p>AAA</p></a>
    <a href="#"><p>BBB</p></a>
    <a href="#"><p>CCC</p></a>
</div>
    
    {% block content%}



    {% endblock content%}
</body>
</html>