{% extends 'base.html' %}

{% block title%}

<title>Fabevy | Login</title>
{% endblock title%}
    
{% block content%}

<div class="login">
    <div class="login-form">
        <form action="" method="POST">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <p class="err">{{error}}</p>
            <input type="submit"  class="submit-btn">
        </form>
        
    </div>
</div>


{% endblock content%}